

.ourClients {
	// min-height: 600px;	
	padding-top: 48px;
	padding-bottom: 113px;
	// margin-bottom: 200px;
	background-color: $notWhite;

	h2 {
		margin-bottom: 40px;
	}

	#clients {
		margin-bottom: 60px;
		// background-color: #eee;

		a.item {
			display: block;

			img {
				box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
				margin-bottom: 24px;
				transition: ease .4s;
			}

			.under {

				span.what {
					font-family: $ro;
					font-style: normal;
					font-weight: 300;
					font-size: 14px;
					line-height: 16px;
					
					color: #000;
				}

				p.name {
					font-style: normal;
					font-weight: bold;
					font-size: 16px;
					line-height: 20px;
					
					/* Style_1 */
					
					color: $violet;
				}
			}
		}

		a.item:hover img {
			box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
		}


		.owl-nav{
			// background-color: #eee;
      margin-top: 15px;
      display: flex;
      justify-content: space-around;
			align-items: center;


      .owl-next  {
				transition: ease-in .5s;
				background-color: transparent;
				outline: none;

        &:hover{
          transform: translateX(10%);
        }

      }
      .owl-prev{
        z-index: 10;
				transition: ease-in .5s;
				background-color: transparent;
				outline: none;

        &:hover{
					transform: translateX(-10%);
        }

      }
		}
		
		.owl-dots {
			// background-color: #444;
			margin-top: -26px;

			.owl-dot.active {
				opacity: 1;
				transition: ease .4s;
				
				span {
					margin: 0;
					width: 16px;
					height: 16px;
					background-color: $blue;
				}
			}

			.owl-dot {
				margin: 0 12px;
				opacity: 0.2;

				span {
					margin: 0;
					width: 16px;
					height: 16px;
					background-color: $notWhite;
					border-radius:0;
					// border:1px solid #000;

					border: 2px solid #0083D1;
					box-sizing: border-box;


					// margin: 0 15px;
				}
			} 

			button {
				outline: none;
				border: none;
			}
		}


	}


	.wrapBt {
		display: flex;
		justify-content: center;
	}
}