.footer {
	// min-height: 500px;
	// margin-bottom: 100px;

	width: 100%;
	padding-top: 40px;
	padding-left: 260px; 
	padding-right: 260px;
	padding-bottom: 40px;
	background-color: $blue;

	color:#fff;

	display: flex;
	justify-content: space-between;



	.left_side {
		width: 1097px;
		max-width: 100%;
		// border:1px solid #fff;

		.logo_footer {
			margin-bottom: 30px;
			img {
				width: 200px;
			}
		}

		.contacts_info {
			display: flex;
			justify-content: space-between;

			.left {
				// background-color: #cccc;
				margin-right: 52px;

				ul.phones {
					margin-bottom: 30px;
					li {

						a{
							// outline:1px solid red;
							text-decoration: none;
							color:#fff;
							font-style: normal;
							font-weight: bold;
							font-size: 24px;
							line-height: 150%;
							position: relative;

							&::before {
								content: '';
								position: absolute;
								bottom: -2px;
								left: 0;
								width: 0%;
								height: 1px;
								background-color: #fff;
								transition: ease .4s;
							}
			
							&:hover::before {
								width: 100%;
							}
						}
					}
				}

				ul.time_job {
					margin-bottom: 40px;

					li {
						// outline:1px solid red;
						color:#fff;
						font-style: normal;
						font-weight: 500;
						font-size: 16px;
						line-height: 24px;

						b {
							display: block;
							font-weight: bold;
							margin-bottom: 4px;
						}
						span {
							margin-right: 7px;

							&.short {
								margin-right: 45px;
							}
						}
					}
				}

				ul.social {
					display: flex;
					align-items: center;

					li {

						a{
							display: block;
							transition: ease .4s;

							i {
								font-size: 50px;
								color:#fff;
							}



							img {
								width: 40px;
								height: auto;
							}



							&.vk {
								margin: 0 20px;
							}

							&:hover {
								transform: translateY(-5%);
							}

							img {

							}
						}
					}
				}

			}

			ul.bottom_menu {
				li {
					p {
						// outline: 1px solid red;
						font-style: normal;
						font-weight: bold;
						font-size: 20px;
						line-height: 140%;
					}
					a {
						text-decoration: none;
						color:#fff;
						font-family: $ro;
						font-style: normal;
						font-weight: normal;
						font-size: 18px;
						line-height: 200%;
						position: relative;

						&.politics {
							display: block;
							margin-top: 40px;

							&::before {
								content: '';
								display: none;
							}
							span {
								display: block;
							}
						}

						&::before {
							content: '';
							position: absolute;
							bottom: -3px;
							left: 0;
							width: 0%;
							height: 1px;
							background-color: #CCE6F6;
							transition: ease .4s;
						}
		
						&:hover::before {
							width: 100%;
						}
					}
				}
			}

			.center {
				// background-color: #eee;
			}

			.right {
				// background-color: #777;
			}
		}
	}





	.form_side {
		width: 560px;
		margin-left: 80px;
		// border:1px solid red;

		form.pageForm {
			padding: 20px;


			input {



				// border:1px solid black;
			}

			textarea.mes {
				margin-bottom: 20px ;
				height: 120px;
				// outline: 1px solid red;
			}
		}

	}
}






@media (max-width: 1600px) {
  
}



@media (max-width: 1440px) {
  .footer {
		padding-top: 40px;
		padding-left: 40px; 
		padding-right: 40px;
		padding-bottom: 60px;
	
	
		.left_side {
			// width: 1097px;
			max-width: 100%;
			// border:1px solid #fff;
	
			.logo_footer {
				margin-bottom: 30px;
				img {
					width: 300px;
				}
			}
	
			.contacts_info {
	
				.left {
					// background-color: #cccc;
					margin-right: 0px;
	
					ul.phones {
						margin-bottom: 30px;

						li {
	
							a{
								font-size: 16px;
								line-height: 20px;
							}
						}
					}
	
					ul.time_job {
						margin-bottom: 30px;
	
						li {
							// outline:1px solid red;
							color:#fff;
							font-style: normal;
							font-weight: 500;
							font-size: 13px;
							line-height: 24px;
	
							b {
								display: block;
								font-weight: bold;
								margin-bottom: 4px;
							}
							span {
								margin-right: 7px;
	
								&.short {
									margin-right: 45px;
								}
							}
						}
					}
	
					ul.social {
	
						li {
	
							a{
								display: block;
								transition: ease .4s;
	
								img {
									width: 30px;
									height: auto;
								}
	
								&.vk {
									margin: 0 20px;
								}
	
								&:hover {
									transform: translateY(-5%);
								}
	
								img {
	
								}
							}
						}
					}
	
				}
	
				ul.bottom_menu {
					li {
						p {
							font-size: 14px;
							line-height: 16px;
						}
						a {
							font-size: 13px;
							line-height: 200%;
							position: relative;
	
							&.politics {
								display: block;
								margin-top: 30px;
	
								&::before {
									content: '';
									display: none;
								}
								span {
									display: block;
								}
							}
	
							&::before {
								content: '';
								position: absolute;
								bottom: -3px;
								left: 0;
								width: 0%;
								height: 1px;
								background-color: #CCE6F6;
								transition: ease .4s;
							}
			
							&:hover::before {
								width: 100%;
							}
						}
					}
				}
	
				.center {
					// background-color: #eee;
				}
	
				.right {
					// background-color: #777;
				}
			}
		}
	
	
	
	
	
		.form_side {
			width: 560px;
			margin-left: 100px;
			// border:1px solid red;
	
			img {
				max-width: 100%;
			}
		}
	}
}





@media (max-width: 1366px) {
  
}



@media (max-width: 1280px) {
  
}



@media (max-width: 1200px) {
  
}


@media (max-width: 1024px) {
  
}


@media (max-width: 992px) {
  
}



@media (max-width: 900px) {
  
}



@media (max-width: 800px) {
  
}



@media (max-width: 768px) {
  
}



@media (max-width: 600px) {
  
}



@media (max-width: 576px) {
  
}



@media (max-width: 480px) {
  
}



@media (max-width: 425px) {
  
}


@media (max-width: 414px) {
  
}



@media (max-width: 375px) {
  
}



@media (max-width: 360px) {
  
}


@media (max-width: 320px) {
  
}