.footer{
    height: 59px;
    width: 100%;
    background-color: #000000;
    &_title{
        text-align: center;
        margin-left: 55px;
        padding-top: 21px;
        color: #ffffff;
        font-size: 13px;
        font-weight: 400;
    }
}